<launch>
  <!-- additional nodes to publish joint states for the hands -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robotiq_r_hand_robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <remap from="joint_states" to="/robotiq_hand/joint_states" />
  </node>

</launch>
