<launch>

  <!-- Launch file to run gazebo and spawn the robot -->
  <!-- Run in terminal: roslaunch robotiq_gazebo robotiq_world.launch <arg name>:=<value_name> --> 
  <!-- arg to run is optional, include or exclude as required -->
  <!-- For robot to retain its default standing up position, launch joint control file then enable physics -->

  <!-- launch file arguments -->              
  <arg name="fixed" default="false"/>         <!-- robot fixed in place -->
  <arg name="paused" default="false"/>         <!-- pause the physics engine -->
  <arg name="use_sim_time" default="true"/>   <!-- use simulation time -->
  <arg name="debug" default="false"/>         <!-- debug mode -->
  <arg name="gui" default="true"/>            <!-- enable gazebo gui -->
  <arg name="world" default="empty" />     <!-- world to use -->
  <arg name="x" default="0"/>                 <!-- robot spawn position in world x-axis -->
  <arg name="y" default="0"/>                 <!-- robot spawn position in world y-axis -->
  <arg name="z" default="0.12"/>              <!-- robot spawn position in world z-axis -->
  <arg name="model_args" default="" />

  <!--Set world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotiq_gazebo)/worlds/$(arg world).world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
   command="$(find xacro)/xacro --inorder '$(find robotiq_description)/robots/robotiq_hand_on_box.urdf.xacro'" if="$(arg fixed)"/>

  <param name="robot_description"
	 command="$(find xacro)/xacro --inorder '$(find robotiq_description)/robots/robotiq_hand_on_box.urdf.xacro'" unless="$(arg fixed)"/>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model robotiq -param robot_description -z $(arg z) -x $(arg x) -y $(arg y)"/> <!-- 0.32 --> 

  <include file="$(find robotiq_gazebo)/launch/atlas_robotiq_hands_bringup.launch">
    <arg name="model_args" value="$(arg model_args)"/>
  </include>
  <!-- Get robot to 0 position -->
  <!-- <node name="goto0" pkg="robotiq_description" type="joint_default" args="5.0" /> -->

</launch>
