<?xml version="1.0" ?>
<launch>

	<arg name="gui" default="true"/> 		<!-- True: manual control   False: real sensor -->
	<arg name="rviz_conf" default="$(find robotiq_description)/rviz/robotiq.rviz"/>

	<!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find robotiq_description)/robots/robotiq_hand_on_box.urdf.xacro'"/>
	<param name="publish_frequency" value="400" /> <!-- Hz -->

	<!-- publish the joint and robot states -->
	<group if="$(arg gui)">
		<node name="joint_state_publisher" pkg="joint_state_publisher"
			type="joint_state_publisher" respawn="true" >
			<param name="use_gui" value="$(arg gui)"/>
			<param name="rate" value="400"/>
		</node>
	</group>

	<node name="robot_state_publisher" pkg="robot_state_publisher"
		type="state_publisher" respawn="true">
		<param name="publish_frequency" value="50" />
		<remap from="/joint_states" to="/robotiq_hand/joint_states"/> 			<!-- interfacing to gazebo or rviz -->
	</node>

	<!-- load displays -->
	<param name="use_gui" value="true"/>
	<node name="rviz" pkg="rviz" type="rviz" output="screen" required="true" args="-d $(arg rviz_conf) -f world" />

</launch>
